body
  font-family: 'Open Sans', sans-serif
  color: $text-color
  font-size: 1rem

a
  color: $link-color
  text-decoration: none
  &:hover
    color: darken($link-color, 30%)
ul
  list-style: none
  margin: 0
  padding: 0



.col-left
  @extend $left

.col-right
  float: right
  position: relative

.btn
  &._block
    display: block
